.work-card {
  display: flex;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 3rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60rem;
  height: auto;
  gap: 2rem;
}

.company-logo img {
  width: 150px; /* Adjust size as needed */
  height: 150px;
  border-radius: 12px;
  margin-right: 20px;
}

.company-info {
  flex-grow: 1;
}

.company-info h2 {
  margin-top: 0;
}

.company-info p {
  
  margin: 5px 0;
}
.workCard-skill{
  font-weight: 600;
}

@media (max-width: 400px),(max-width:700px),(max-width:820px) {
  .work-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
  }
  .company-logo img {
    width: 100px; 
    height: 100px;
    margin-right: 10px;
  }
  .company-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .company-info p{
    text-align: center;
  }
}
