.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin-top: 100px;
  gap: 12rem;
  background-color: rgb(239, 238, 238);
}
.contact-img {
  margin-right: 30px;
  width: 500px;
  height: 500px;
}
.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the start of the container */
  padding-bottom: 10px;
}
.form-group {
  margin-bottom: 10px; /* Add margin between form groups */
  
}
.contact-form-header {
  font-size: 40px;
}


/* Additional style for inputs to ensure consistent spacing */
input {
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"] {
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px; /* Add padding for spacing */
  border-radius: 3px; /* Add border radius for rounded corners */
  width: 100%; /* Make input fields take full width */
}
/* On focus style */
input[type="text"]:focus,
input[type="email"]:focus {
  outline: none; /* Remove default focus outline */
  border-color: #000000; /* Add border color on focus */
  /* box-shadow: 0 0 3px rgb(26, 25, 25)  */
}

/* Style labels for form groups */
.form-group label {
  margin-bottom: 10px; /* Add margin below labels for spacing */
}

@media (max-width: 619px ) {
  .main {
    height: 800px;
    flex-direction: column;
    gap: 25px;
  }
  .contact-img {
    margin-right: 30px;
    width: 300px;
    height: 300px;
  }
  .content-right{
    margin-bottom: 170px;
  }

  .content-left{
    margin-top: 200px;
  }
  .contact-form-header {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .main {
    height: 800px;
    flex-direction: column;
    gap: 25px;
  }
  .contact-img {
    margin-right: 30px;
    width: 300px;
    height: 300px;
  }
  .content-right{
    margin-bottom: 170px;
  }

  .content-left{
    margin-top: 200px;
  }
  .contact-form-header {
    font-size: 30px;
  }

  
}