.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #3a3a3a;
    color: white;

}
.footer-social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 1rem;
}

@media (max-width:619px) {
    .footer-middle{
        display: none;
    }
    .footer-social-icons{
        display: none;
    }
    .footer-left{
        font-size: 10px;
    }
}